* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 1140px;
  margin: auto;
}
div#form {
  box-shadow: 5px 5px 10px gray;
}
div#form input {
  height: 50px;
  border: 1px solid red;
  padding: 15px;
  outline: none;
}
button#login {
  border: none;
  outline: none;
  height: 50px;
  font-size: 20px;
  color: red;
  font-weight: 700;
}

button#login:hover {
  background: red;
  color: #fff;
  transition: 0.5s;
}

#transaction {
  display: none;
}

.transaction-con {
  border-radius: 8px;
  padding: 16px;
  color: #fff;
}

.transaction-con h2 {
  font-size: 20px;
  font-weight: 700;
}

.transaction-con p {
  font-size: 20px;
  font-weight: 700;
}
.box-shadow {
  border-radius: 16px;
}
.box-shadow h2 {
  font-weight: 700;
}

#depositBtn,
#withdrawBtn {
  border: none;
  outline: none;
  padding: 8px 24px;
  border-radius: 8px;
  background: red;
  color: #fff;
  font-weight: 700;
}

button#depositBtn:hover,
#withdrawBtn:hover {
  background: #868e95;
  transition: 0.5s;
}
